.search {
	position: relative;

	width: 100%;
}

.input input {
	width: 100%;
	padding-right: 40px;
}

.button {
	position: absolute;
	top: 0;
	right: 0;

	width: 35px;
	height: 35px;
	padding: 7px;
}
