* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color: var(--black);
	background-color: var(--white);

	font-family: var(--font-family);
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;

	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: var(--white);
		background: black;
	}
}

.visually-hidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #746C81;
	--white: #F5F6F8;
	--primary: #7653FC;
	--primary-hover: #502FD3;
	--red: #FC836D;
	--red-light: #FFB6A9;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}
